* {
	box-sizing: border-box;
	margin: 0;
}

body {
	background-image: url("images/tileable-starfield-patterns-3.JPG");
	font-family: 'Open Sans', sans-serif;
	/*text-shadow: 2px 2px #ff0000;*/
}

#header {
	font-family: 'Nunito', sans-serif;
	color: white;
	/*background-color: white;*/
	/*box-shadow: 0 0 20px white;*/
	/*border-radius: 8px;*/
	padding: 0px;
	margin: 8px;
	font-size: 80px;
}

h1, h2, h3{
	text-shadow: 2px 2px #ff0000;
	font-family: 'Righteous', cursive;
}

#searchTerm #search {
	box-shadow: 10px 10px 5px #888888;
}

.panel-body, .panel-heading, .panel-title {
	color: white;
	text-align: center;
}

#main-title {
	text-align: left;
}

#instructions-div {
	text-align: right;
}

#main-title {
	margin-top: 20px;
	margin-right: 80px;
	padding-right: 120px;
	position: relative;
	bottom: -30px;
}

#waypoint-icon {
	padding: 0;
	margin: 0;
	width: 75px;
	position: relative;
	bottom: 38px;
}

.search-bar {
	margin: 8px;
	margin-bottom: 20px;
	font-family: 'Righteous', cursive;
}

#map {
	margin: 8px;
	border: 1px solid lightgray;
	border-radius: 8px;
	box-shadow: 10px 10px 5px black;
}

.info-box {
	width: fill;
	height: 400px;
	overflow: auto;
	background-color: white;
	border: 1px solid lightgray;
	border-radius: 8px;
	padding: 8px;
	margin: 16px;
}

.content-title {
	color: #303030;
    font-family: 'Righteous', cursive;
}

#footer {
	color: darkgray;
    text-align: center;
    font-family: 'Righteous', cursive;
    background-color: white;
    border-radius: 8px;
    padding-top: 10px;
    margin: 8px;
}

a {
	text-decoration: none;
	color: darkgray;
}

a:hover {
	text-decoration: none;
	color: #303030;
}

#factReturn{
	height: 480px;
	box-shadow: 10px 10px 5px black;
	border-radius: 8px;
	border: 1px solid lightgray;
	margin-top: 35px;
	background-image: url("images/seamless-pattern-set-deep-water-blues-9.JPG");
	color: white;
	margin-left: 2px;
}
.form-control{
	box-shadow: 10px 10px 5px black;
	border-radius: 8px;
	border: 1px solid lightgray;
}#history-title{
	box-shadow: 10px 10px 5px black;
	border-radius: 8px;
	border: 1px solid lightgray;
}
#footer{
	box-shadow: 10px 10px 5px black;
	border-radius: 8px;
	border: 1px solid lightgray;
	background-image: url("images/seamless-pattern-set-deep-water-blues-9.JPG");
}

#urlReturn {
	box-shadow: 10px 10px 5px black;
	border-radius: 8px;
	border: 1px solid lightgray;	
	background-image: url("images/seamless-pattern-set-deep-water-blues-9.JPG");

}
#links {

	font-size: 24px;
	color: red;

}