* {
	box-sizing: border-box;
	margin: 0;
}

body {
	background-image: url("./images/connect.png");
	font-family: 'Open Sans', sans-serif;
}

#header {
	font-family: 'Nunito', sans-serif;
	color: #303030;
	/*background-color: white;*/
	/*box-shadow: 0 0 20px white;*/
	/*border-radius: 8px;*/
	padding: 0px;
	margin: 8px;
	font-size: 80px;
}

#main-title {
	text-align: left;
}

#instructions-div {
	text-align: right;
}

#main-title {
	margin-top: 20px;
	margin-right: 80px;
	padding-right: 120px;
	position: relative;
	bottom: -30px;
}

#waypoint-icon {
	padding: 0;
	margin: 0;
	width: 75px;
	position: relative;
	bottom: 38px;
}

.search-bar {
	margin: 8px;
	margin-bottom: 20px;
	font-family: 'Nunito', sans-serif;
}

#map {
	margin: 8px;
	border: 1px solid lightgray;
	border-radius: 8px;
}

.info-box {
	width: fill;
	height: 400px;
	overflow: auto;
	background-color: white;
	border: 1px solid lightgray;
	border-radius: 8px;
	padding: 8px;
	margin: 16px;
}

.content-title {
	color: #303030;
    font-family: 'Nunito', sans-serif;
}

#footer {
	color: darkgray;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    background-color: white;
    border-radius: 8px;
    padding-top: 10px;
    margin: 8px;
}

a {
	text-decoration: none;
	color: darkgray;
}

a:hover {
	text-decoration: none;
	color: #303030;
}